.input {
  font-size: 18px;
  line-height: 21px;
  border-radius: 5px;
  padding: 7px;
  margin-top: 22px;
}

.textarea {
  font-size: 14px;
  line-height: 14px;
  border-radius: 5px;
  padding: 7px;
  margin-top: 16px;
}

.button {
  margin-top: 16px;
  background: #0079BF;
  border-radius: 5px;
  height: 29px;
  width: 102px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.button:hover {
  background-color: #0067A3;
}