.task {
  background: #0079BF;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 95%;
  height: 95%;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 22px 28px;
  position: relative;
}

.title {
  font-size: 24px;
  line-height: 28px;
  border: none;
  cursor: pointer;
}

.date {
  display: block;
  font-size: 11px;
  color: darkgrey;
}

.text {
  margin-top: 35px;
  display: block;
  font-size: 18px;
  line-height: 21px;
  height: 87%;
  width: 100%;
  border: none;
}

.back {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: initial;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .task {
    height: 93vh;
  }

  .back {
    width: 15px;
    height: 15px;
  }
}